<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="icon" href="img/weather_icon.png">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorMessage}}
            <script src="js/scripts.js" type="application/javascript"></script>
        </div>
        {{>footer}}
    </body>
</html>
